name: OWASP ZAP Security Scan

on:
  push:
    branches: [main]

jobs:
  security-scan:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: ZAP Scan
      uses: zaproxy/action-baseline@v0.10.0
      with:
        target: 'https://nextjs-boilerplate-mu-lilac-67.vercel.app/'
        cmd_options: '-a -I'
        token: ${{ secrets.GITHUB_TOKEN }}
