name: OWASP ZAP Security Scan

on:
  push:
    branches: [main]

jobs:
  security-scan:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: ZAP Scan
      uses: zaproxy/action-baseline@v0.10.0
      continue-on-error: true
      with:
        target: 'https://nextjs-boilerplate-mu-lilac-67.vercel.app/'
        cmd_options: '-a -J report_json.json'
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload JSON Report
      uses: actions/upload-artifact@v4
      with:
        name: zap-json-report
        path: report_json.json
        retention-days: 30
        overwrite: true

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
      
    - name: Install dependencies
      run: |
        pip install requests
      
    - name: Normalize ZAP Report
      run: python scripts/normalize_zap_report.py
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      # OPCIONAL: Subir reporte normalizado
    - name: Upload Normalized Report
      uses: actions/upload-artifact@v4
      with:
        name: normalized-report
        path: normalized_report.json
        retention-days: 30


